{% extends 'transform/base.html' %}

{% load staticfiles %}

{% block title %} Edit Electronic Files {% endblock %}
{% block header1 %} Edit Electronic Files to DNA Sequences {% endblock %}

{% block content1 %} 
<div>
	<p>If you choosed method B when you encode your file. You can edit you file with limited DNA fragments changed. You will encoed your original file and edited file with method B. You can upload the original and edited fragments in this page and we will find the changed fragments and design small guide RNA(sgRNA) for CRISPR. </p>

   </div>
   <br />
   <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url "edit" %}">
   	{% csrf_token %}
   	{% for hidden in edit_form.hidden_fields %}
   		{{ hiden }}
	{% endfor %}

	<br />
	<div class="form-group">
	<style type="text/css">
		textarea{height: 100px;width: 300px;

		}
	</style>
	   {{edit_form.edit_token1.errors}}
	   <label for="{{encode_form.edit_token1.id_for_label}}" class="control-label ">original fragment: </label>
	   <div class="controls" >
	   <textarea type="text" class="input-xlarge" name="{{ edit_form.edit_token1.html_name}}" placeholder="{{edit_form.edit_token1.help_text}}" required autofocus style="height: 200px; width: 900px; font-size: 12px;">ACCAGTGCTCCCCAGCTAGACCAGCTGGCAGAAAGATTAGACCCGTTAGGAAGGACGTTGAGATACAATTCATGTCCTCTCCATCACGCCTTGCTAGCGATCAAGCGTCCGAATCGCACTGAACCATATGGCAGCCTACGATCCCGTGATATTGTCCGGCACAAAGGTACTACGCGGATACTAACAGTAATTATCACAACGGTTTATCGTCAAAT,
GTGCGCGGTATCGTCTTCTGCCTGGCCCAAAGGTGCACTGAACTCGGTCTAAGGTTTTTGGACAAACGAGCATCCAATATACGCAGGATTTGCAACACGTATAGAATGAGAGATGTCGAATTAGAAGCTAGGGGAAGCCTCCGGTGGCGATGAGAAACCGCAAGTATTATATATTAACACTGCCCAGTACGCCCGCATCTGGTTGTTCAGCGCGA,
ATGCTGTCTATATTCAGTCGCCAAGTCTCCGACATTCTGTGCTTCACAAGCAGTGCCTCTACATGTCAACAAAAGCACCAGCCCAAGTGCGTGGAAAAAGTAAATGCGTAAGATTATCTACGTTCACCAAGAGCGTATGGCTCCCTCGAGGTCCTTATGGGAACAATAAACGCGGCTCTGGGAGGGAAAGATTAGGACGTGGCTGATTCCGTATA,
TATGATATGCCTGACTTATCCCAACGAATGCCGCCTCGGTTACTTAAGAAACCGAATAATACGGGGCGGTACCGAGGCGGCCGTGCTGCGCTTGAAGAGAGGCATATCATAACGCAGCTAGGCGTGTTCTTTGTCAGCCTCCCCATCCGCAGACGCATCGATGATGTAATGCGCTCGCTCGATCCGGTTCCGATACAATGACACCCCATCTGGCA,</textarea>
           </div>
	</div>
	<br>		
	<div class="form-group">
	   {{edit_form.edit_token2.errors}}
	   <label for="{{edit_form.edit_token2.id_for_label}}" class="control-label " >edited fragment: </label>
	   <div class="controls" >
	   	<textarea type="text" class="input-xlarge" name="{{ edit_form.edit_token2.html_name}}" placeholder="{{encode_form.edit_token2.help_text}}" required autofocus style="height: 200px; width: 900px; font-size: 12px;">ACCAGTGCTCCCCAGCTAGACCAGCTGGCAGAAAGATTAGACAATTCATGTCCTCCGTTGAGATACAATTCATGTCCTCTCCATCACGCCTTGCTAGCGATCAAGCGTCCGAATCGCACTGAACCATATGGCAGCCTACGATCCCGTGATATTGTCCGGCACAAAGGTACTACGCGGATACTAACAGTAATTATCACAACGGTTTATCGTCAAAT,
GTGCGCGGTATCGTCTTCTGCCTGGCCCAAAGGTGCACTGAACTCGGTCTAAGGTTTTTGGACAAACGAGCATCCAATATACGCAGGATTTGCAACACGTATAGAATGAGAGATGTCGAATTAGAAGCTAGGGGAAGCCTCCGGTGGCGATGAGAAACCGCAAGTATTATATATTAACACTGCCCAGTACGCCCGCATCTGGTTGTTCAGCGCGA,
ATGCTGTCTATATTCAGTCGCCAAGTCTCCGACATTCTGTGCTTCACAAGCAGTGCCTCTACATGTCAACAAAAGCACCAGCCCAAGTGCGTGGAAAAAGTAAATGCGTAAGATTATCTACGTTCACCAAGAGCGTATGGCTCCCTCGAGGTCCTTATGGGAACAATAAACGCGGCTCTGGGAGGGAAAGATTAGGACGTGGCTGATTCCGTATA,
TATGATATGCCTGACTTATCCCAACGAATGCCGCCTCGGTTACTTAAGAAACCGAATAATACGGGGCGGTACCGAGGCGGCCGTGCTGCGCTTGAAGAGAGGCATATCATAACGCAGCTAGGCGTGTTCTTTGTCAGCCTCCCCATCCGCAGACGCGCTCTGGGAGTAATGCGCTCGCTCGATCCGGTTCCGATACAATGACACCCCATCTGGCA,</textarea>
           </div>
	</div>
	<br />

	<br />
	<div class="form-group">
	   <div class="controls">
      	      <button class="btn btn-success" type="submit" name="edit" value="edit">Submit!</button>
     	   </div>
	</div>
    </form>
{% endblock %}



{% block content2 %}
<div style="width: 950px;">
  {% if results %}
    <h3>Results</h3>
    <div id="results">
	   <p>
	   {% for key,value in results %}
	   <b>{{ key }}: </b><br>{{ value }}<br>
	   {% endfor %}
	   </p>
    </div>

  
  {% else %}
    {% if errors %}
    <h3>Something Goes Wrong!</h3>
    <div id="errors">
       {{errors}}
    </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}

<br />
<br />